.menuButton{
    -fx-background-radius: 10;
    -fx-background-color: #c2c6c8;
    -fx-font-size: 16;
}

.menuButton-selected{
    -fx-background-color: #eef2e6;
}

.menuButton-hover{
    -fx-background-color: #dddbdb;
}