.category{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color:  #ebe7e7;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
    -fx-cursor: hand;
}

.category-hover{
    -fx-background-color:  #d3cfcf;
}

.centralPane{
    -fx-border-width: 0 2px 0 0;
    -fx-border-color: #808080;
    -fx-border-style: solid;
    -fx-background-color: #eef2e6;
}

.searchBarTextField{
    -fx-text-box-border: transparent;
    -fx-background-radius: 30;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}

.searchBarIcon{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.2), 8.0 , 0 , -5.0 , 1);
}

.button{
    -fx-background-radius: 10;
    -fx-background-color: #c2c6c8;
    -fx-font-size: 16;
}

.product{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color:  #ebe7e7;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
    -fx-cursor: hand;
}

.product-hover{
    -fx-background-color:  #d3cfcf;;
}

.productInfoMainContainer{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color:  white;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}
